/* You can add global styles to this file, and also import other style files */
.tots-crud-page-table-box {
    background-color: var(--color_neutral_20) !important;
}
/** Style Tots Layout **/
.tots-left-layout-wrapper{
  background-color: var(--color_neutral_10) !important;
}
.tots-left-sidebar-wrapper {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), #151515 !important;
}
tots-button-item-navigation {
    color: white;
    font-weight: 500;

    .nav-item {
        width: 100%;
        text-align: left !important;
        border-radius: 0px !important;
        justify-content: left;
    }

    .tots-item-active {
        background-color: rgba(255, 255, 255, 0.1);
        color: rgba(255, 185, 99, 1) !important;
    }
}
/** END Style Tots Layout **/

.tots-crud-page-selecteds{
  background-color: var(--color_primary_20) !important;
}
